.navbar-default {
  background-color: transparent;
  border: none;
  position: absolute;
  position: absolute;
  top: 10px; }
  @media screen and (max-width: 767px) {
    .navbar-default {
      right: 10px;
      top: 25px; } }

.navbar-default .navbar-nav {
  margin-top: 20px; }

.navbar-default .navbar-nav > div {
  border: solid 1px white;
  display: inline-block;
  padding: 7px;
  margin-right: 10px;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 0px;
  position: relative;
  overflow: hidden; }
  .navbar-default .navbar-nav > div a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 38%;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 100%;
    width: 0px;
    height: 100%;
    -webkit-transition: transform 1.2s, background-color 1s, border-radius 2s;
    transition: transform 1.2s, background-color 1s, border-radius 2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .navbar-default .navbar-nav > div a {
    color: white;
    background: transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 7px;
    display: inline-block; }
    .navbar-default .navbar-nav > div a:hover {
      color: white;
      text-decoration: none; }
      .navbar-default .navbar-nav > div a:hover:before {
        background-color: #03726F;
        width: 20px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        -ms-transform: scale(4);
        /* IE 9 */
        -webkit-transform: scale(4);
        /* Safari */
        transform: scale(4);
        /* Standard syntax */ }

.front-brand-bar {
  position: relative;
  width: 100%;
  height: 100px;
  background: url("../img/geoban.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .front-brand-bar h1 {
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    color: white;
    font-size: 48px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .front-brand-bar .credit {
    display: none; }

.over-bar {
  width: 100%;
  height: 90%;
  position: relative;
  top: 10%;
  background-color: #3b3b3b; }

.header-image-area {
  display: inline-block;
  position: relative;
  width: 100%;
  background: url("../img/homeoffice.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  z-index: -5; }
  .header-image-area .head-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.33); }
    .header-image-area .head-over h1 {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: white;
      padding-left: 20%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      top: 20%;
      font-size: 50px; }
      .header-image-area .head-over h1:first-child {
        padding-left: 15%;
        margin-top: 0px; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

.post-header-bar {
  position: relative;
  margin-top: -25px;
  background-color: #2A2826;
  height: 100px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 2.4em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3px;
  border-bottom: solid 5px #90CF8A; }
  .post-header-bar h1 {
    color: #F7992E; }
  .post-header-bar P {
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 0.8em;
    color: black; }
  .post-header-bar .qhr {
    width: 130px;
    border-color: #DC3E32; }

.bubble-box {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  height: 600px;
  background-color: #ffffff; }
  @media screen and (max-width: 962px) {
    .bubble-box {
      height: 1800px; } }
  .bubble-box .bubble-area {
    background-color: transparent;
    height: 100%;
    display: inline-block;
    letter-spacing: 20px; }
    @media screen and (max-width: 962px) {
      .bubble-box .bubble-area {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px; } }
    .bubble-box .bubble-area .post-head-col {
      display: inline-block;
      height: 600px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      max-width: 30%;
      min-width: 305px;
      position: relative; }
      @media screen and (max-width: 962px) {
        .bubble-box .bubble-area .post-head-col {
          max-width: 100%;
          min-width: 100%; } }
      .bubble-box .bubble-area .post-head-col .bubble {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        width: 200px;
        height: 200px;
        background-color: rgba(144, 207, 138, 0.77);
        border: solid 4px #f7992e;
        box-shadow: 0px 0px 5px rgba(247, 153, 46, 0.53);
        text-align: center;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%; }
        @media screen and (max-width: 962px) {
          .bubble-box .bubble-area .post-head-col .bubble {
            margin-top: 50px; } }
        .bubble-box .bubble-area .post-head-col .bubble span {
          font-size: 100px;
          margin-top: 50px;
          -webkit-transition: color 1s;
          transition: color 1s; }
        .bubble-box .bubble-area .post-head-col .bubble:hover {
          cursor: pointer; }
          .bubble-box .bubble-area .post-head-col .bubble:hover span {
            color: #DC3E32; }
      .bubble-box .bubble-area .post-head-col .bub-txt-box {
        margin-top: 15px;
        padding: 3px;
        padding-top: 1px;
        border: solid 1px grey;
        height: 40%;
        width: 100%;
        display: inline-block;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px black; }
      .bubble-box .bubble-area .post-head-col h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        letter-spacing: 0px; }
      .bubble-box .bubble-area .post-head-col .bubble-text {
        font-family: 'Lato', sans-serif;
        position: absolute;
        font-weight: 300;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        margin-bottom: 0px;
        letter-spacing: 0px; }
    .bubble-box .bubble-area .post-head-col:last-child .bubble span {
      margin-left: 15px; }

.vert {
  width: 100%;
  border-top: solid 1px grey;
  background: #fcfcfc; }
  .vert .vert-box {
    height: 600px;
    display: inline-block; }
  @media screen and (max-width: 962px) and (min-width: 590px) {
    .vert .vt-box {
      height: 300px; } }
  @media screen and (max-width: 590px) {
    .vert .vt-box {
      height: 400px; } }
  @media screen and (max-width: 450px) {
    .vert .vt-box {
      height: 500px; } }
  .vert .left-box {
    float: left;
    width: 40%; }
    @media screen and (max-width: 962px) {
      .vert .left-box {
        width: 100%; } }
  .vert .right-box {
    float: right;
    width: 60%; }
    @media screen and (max-width: 962px) {
      .vert .right-box {
        width: 100%; } }

.verticle-one .left-box {
  background-color: #2A2826; }
  .verticle-one .left-box .vert-head {
    font-family: 'Cantarell', sans-serif;
    color: white;
    font-size: 3.2em;
    font-style: italic;
    margin-left: 5%;
    margin-top: 20%; }
    @media screen and (max-width: 962px) {
      .verticle-one .left-box .vert-head {
        margin-top: 5%; } }
  .verticle-one .left-box .vert-line {
    width: 80%;
    margin-left: 5%; }
  .verticle-one .left-box .vert-text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2.4em;
    margin-left: 7%;
    padding-right: 5px;
    margin-top: 10%; }
    @media screen and (max-width: 962px) {
      .verticle-one .left-box .vert-text {
        margin-top: 5%; } }
.verticle-one .right-box {
  background-image: url("../img/ov-test.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 962px) and (min-width: 590px) {
    .verticle-one .right-box {
      background-image: url("../img/ov-small.png");
      background-position: left; } }
  @media screen and (max-width: 590px) {
    .verticle-one .right-box {
      background-image: url("../img/ov-mobile-original.png"); } }
  @media screen and (max-width: 450px) {
    .verticle-one .right-box {
      background-image: url("../img/ov-mobile-small.png"); } }

.box-overlay {
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0.67); }
  @media screen and (min-width: 715px) {
    .box-overlay:hover {
      background-color: rgba(0, 0, 0, 0.42); } }

/*# sourceMappingURL=styles.css.map */
