.navbar-default {
  background-color: transparent;
  border: none;
  position: absolute;
  position: absolute;
  top: 10px; }
  @media screen and (max-width: 767px) {
    .navbar-default {
      right: 10px;
      top: 45px; }
      .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent; } }
  @media screen and (max-width: 360px) {
    .navbar-default {
      right: 2px;
      top: 50px; } }

.navbar-default .navbar-nav {
  margin-top: 20px; }
  @media screen and (max-width: 767px) {
    .navbar-default .navbar-nav {
      margin-top: 10px; } }

@media screen and (max-width: 360px) {
  .navbar-toggle {
    padding: 5px; }
    .navbar-toggle .icon-bar {
      width: 18px;
      font-size: 20px; } }
.navbar-default .navbar-nav > div {
  border: solid 1px white;
  display: inline-block;
  padding: 7px;
  margin-right: 10px;
  color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin-top: 0px;
  position: relative;
  overflow: hidden; }
  .navbar-default .navbar-nav > div a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 38%;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 100%;
    width: 0px;
    height: 100%;
    overflow: hidden;
    -webkit-transition: transform 0.7s, background-color 0.7s, border-radius 2s;
    transition: transform 0.7s, background-color 0.7s, border-radius 2s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }
  .navbar-default .navbar-nav > div a {
    color: white;
    background: transparent;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 7px;
    display: inline-block; }
    .navbar-default .navbar-nav > div a:hover {
      color: white;
      text-decoration: none; }
      .navbar-default .navbar-nav > div a:hover:before {
        background-color: #03726F;
        width: 20px;
        border-radius: 10px;
        -ms-transform: scale(4);
        /* IE 9 */
        -webkit-transform: scale(4);
        /* Safari */
        transform: scale(4);
        /* Standard syntax */ }
  @media screen and (max-width: 767px) {
    .navbar-default .navbar-nav > div {
      margin-top: 5px;
      margin-left: 15px;
      margin-right: 5px;
      background-color: #03726F; } }

.front-brand-bar {
  position: relative;
  width: 100%;
  height: 100px;
  background: url("../img/geoban.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .front-brand-bar h1 {
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    color: white;
    font-size: 48px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .front-brand-bar .credit {
    display: none; }

.over-bar {
  width: 100%;
  height: 90%;
  position: relative;
  top: 10%;
  background-color: #3b3b3b; }

.header-image-area {
  display: inline-block;
  position: relative;
  width: 100%;
  background: url("../img/homeoffice.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  z-index: -5; }
  .header-image-area .head-over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(78, 78, 78, 0.33); }
    .header-image-area .head-over h1 {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      color: white;
      padding-left: 20%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      top: 20%;
      font-size: 50px; }
      .header-image-area .head-over h1:first-child {
        padding-left: 15%;
        margin-top: 0px; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

.post-header-bar {
  z-index: 5;
  position: relative;
  margin-top: -25px;
  background-color: #3B3B3B;
  height: 100px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 2.4em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3px; }
  @media screen and (max-width: 416px) {
    .post-header-bar {
      height: 140px; } }
  .post-header-bar h1 {
    color: white; }
  .post-header-bar P {
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 0.8em;
    color: black; }
  .post-header-bar .qhr {
    width: 130px;
    border-color: #DC3E32; }

.post-bubble-bar {
  z-index: 1;
  position: relative;
  height: 500px;
  margin-bottom: -1px;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 2.4em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3px;
  background-color: #3B3B3B; }
  @media screen and (max-width: 552px) {
    .post-bubble-bar {
      height: 140px; } }

.bub-info-area {
  width: 100%;
  height: 550px;
  position: relative;
  background-color: #F2F2F2; }
  .bub-info-area .bub-title-box {
    display: inline-block;
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 75px;
    margin-left: 10%;
    padding: 10px;
    border: solid 2px rgba(0, 0, 0, 0.56);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.56); }
    .bub-info-area .bub-title-box h2 {
      font-family: 'Lato', sans-serif;
      font-size: 2.8em;
      font-weight: 700; }
    @media screen and (max-width: 982px) {
      .bub-info-area .bub-title-box {
        margin-top: 100px; } }
  .bub-info-area .bub-text-area {
    display: block;
    position: absolute;
    top: 180px;
    margin-left: 35%;
    width: 500px;
    height: auto;
    overflow: auto; }
    .bub-info-area .bub-text-area p {
      font-family: 'Lato', sans-serif;
      font-size: 2.0em;
      font-weight: 300;
      color: #7b7b7b; }
    @media screen and (max-width: 982px) {
      .bub-info-area .bub-text-area {
        margin-left: 15%;
        top: 220px; } }
    @media screen and (max-width: 365px) {
      .bub-info-area .bub-text-area {
        width: 260px; }
        .bub-info-area .bub-text-area p {
          font-size: 1.8em; } }
  .bub-info-area .bub-toggle {
    position: absolute;
    bottom: 20px;
    width: 200px;
    height: 40px;
    margin-left: 25%; }
    .bub-info-area .bub-toggle:hover {
      cursor: pointer; }
    .bub-info-area .bub-toggle .tog-row {
      display: inline-block;
      position: relative;
      float: left;
      bottom: 0px;
      width: 25px;
      height: 25px;
      margin-left: 5px;
      padding: 0px; }
      .bub-info-area .bub-toggle .tog-row .arrow {
        width: 100%;
        height: 100%;
        color: #d9d9d9; }
        .bub-info-area .bub-toggle .tog-row .arrow i {
          font-size: 1.6em; }
        .bub-info-area .bub-toggle .tog-row .arrow .active {
          color: #3B3B3B; }
      .bub-info-area .bub-toggle .tog-row .circle {
        background-color: transparent;
        border: solid 2px #ff8242;
        margin-top: 5px;
        width: 50%;
        height: 50%;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%; }
      .bub-info-area .bub-toggle .tog-row .circle.active {
        background-color: #ff8242; }

.vert {
  width: 100%;
  border-top: solid 1px grey;
  background: #fcfcfc; }
  .vert .vert-box {
    height: 600px;
    display: inline-block; }
  @media screen and (max-width: 962px) and (min-width: 590px) {
    .vert .vt-box {
      height: 300px; } }
  @media screen and (max-width: 590px) {
    .vert .vt-box {
      height: 400px; } }
  @media screen and (max-width: 450px) {
    .vert .vt-box {
      height: 500px; } }
  .vert .left-box {
    float: left;
    width: 40%; }
    @media screen and (max-width: 962px) {
      .vert .left-box {
        width: 100%; } }
  .vert .right-box {
    float: right;
    width: 60%; }
    @media screen and (max-width: 962px) {
      .vert .right-box {
        width: 100%; } }

.verticle-one .left-box {
  background-color: #7D914E; }
  .verticle-one .left-box .vert-head {
    font-family: 'Cantarell', sans-serif;
    color: white;
    font-size: 3.2em;
    font-style: italic;
    margin-left: 5%;
    margin-top: 20%; }
    @media screen and (max-width: 962px) {
      .verticle-one .left-box .vert-head {
        margin-top: 5%; } }
  .verticle-one .left-box .vert-line {
    width: 20%;
    margin-left: 45%;
    margin-top: 35px; }
  .verticle-one .left-box .vert-text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1.8em;
    margin-left: 7%;
    padding-right: 5px;
    margin-top: 10%; }
    @media screen and (max-width: 962px) {
      .verticle-one .left-box .vert-text {
        margin-top: 5%; } }
.verticle-one .right-box {
  background-color: #2A2826; }
  @media screen and (max-width: 962px) {
    .verticle-one .right-box {
      padding: 20px; } }
  .verticle-one .right-box .vbr {
    background-image: url("../img/ov-test.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%; }
    @media screen and (max-width: 962px) and (min-width: 590px) {
      .verticle-one .right-box .vbr {
        background-image: url("../img/ov-small.png");
        background-position: left; } }
    @media screen and (max-width: 590px) {
      .verticle-one .right-box .vbr {
        background-image: url("../img/ov-mobile-original.png"); } }
    @media screen and (max-width: 450px) {
      .verticle-one .right-box .vbr {
        background-image: url("../img/ov-mobile-small.png"); } }
    @media screen and (max-width: 962px) {
      .verticle-one .right-box .vbr {
        background-size: contain;
        background-color: #2A2826; } }
    @media screen and (max-width: 890px) {
      .verticle-one .right-box .vbr {
        margin-top: -40px; } }
    @media screen and (max-width: 500px) {
      .verticle-one .right-box .vbr {
        margin-top: -60px; } }

.verticle-two {
  background-color: #363636; }
  .verticle-two .left-box {
    background-color: #363636;
    float: left;
    width: 60%; }
    @media screen and (max-width: 962px) {
      .verticle-two .left-box {
        width: 100%;
        padding: 20px;
        position: relative;
        top: 280px; } }
    .verticle-two .left-box .vbl {
      background-image: url("../img/ps-test.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 645px) {
        .verticle-two .left-box .vbl {
          background-image: url("../img/ps-mobile.png"); } }
      @media screen and (max-width: 962px) {
        .verticle-two .left-box .vbl {
          background-size: contain;
          background-color: #3b3b3b; } }
  .verticle-two .right-box {
    float: right;
    width: 40%;
    background-color: #C46433; }
    @media screen and (max-width: 962px) {
      .verticle-two .right-box {
        width: 100%;
        height: 300px;
        position: relative;
        top: -600px; } }
    .verticle-two .right-box .vert-head {
      font-family: 'Cantarell', sans-serif;
      color: white;
      font-size: 3.2em;
      font-style: italic;
      margin-left: 5%;
      margin-top: 20%; }
      @media screen and (max-width: 962px) {
        .verticle-two .right-box .vert-head {
          margin-top: 5%; } }
    .verticle-two .right-box .vert-line {
      width: 20%;
      margin-left: 15%;
      margin-top: 35px; }
    .verticle-two .right-box .vert-text {
      font-family: 'Lato', sans-serif;
      color: white;
      font-weight: 300;
      font-size: 1.8em;
      margin-left: 7%;
      padding-right: 5px;
      margin-top: 10%; }
      @media screen and (max-width: 962px) {
        .verticle-two .right-box .vert-text {
          margin-top: 5%; } }

.box-overlay {
  background-color: rgba(0, 0, 0, 0.21); }
  @media screen and (min-width: 962px) {
    .box-overlay {
      width: 100%;
      height: 100%; } }

.about-section .about-bar {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: auto;
  background-image: url("../img/triangular.png");
  background-repeat: repeat;
  border-left: solid 5px #FED136;
  font-family: 'Lato', sans-serif; }
  .about-section .about-bar .about-bar-overlay {
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85); }
  .about-section .about-bar h1 {
    margin-left: 75px; }
    @media screen and (max-width: 962px) {
      .about-section .about-bar h1 {
        margin-left: 2%; } }
.about-section .about-area {
  height: 505px;
  margin-top: -5px;
  overflow: hidden;
  border-left: solid 5px #FED136; }
  .about-section .about-area .about-img {
    position: relative;
    z-index: 1;
    display: inline-block;
    background-image: url("../img/ocean1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 505px;
    width: 100%; }
  .about-section .about-area .about-text {
    position: relative;
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.82);
    width: 60%;
    height: auto;
    margin-left: 15%;
    margin-top: -405px;
    padding: 10px;
    overflow: auto;
    box-shadow: 5px 5px 10px; }
    .about-section .about-area .about-text p {
      color: black;
      font-family: 'Lato', sans-serif;
      font-size: 2.2em;
      font-weight: 400;
      text-align: left; }
    @media screen and (max-width: 962px) {
      .about-section .about-area .about-text {
        width: 90%;
        margin-left: 5%;
        margin-top: -445px; }
        .about-section .about-area .about-text p {
          font-size: 1.6em;
          font-weight: 300; } }

/*# sourceMappingURL=styles.css.map */
