@mixin round($value) {
    -moz-border-radius: $value;
	-webkit-border-radius: $value;
	border-radius: $value;
}

@mixin bubble-color($t) {
    -webkit-transition: color $t;
    transition: color $t;  
}

@mixin arrow-back($time) {
    -webkit-transition: background-color $time;
    transition: background-color $time;  
}

@mixin back-gradient($direction, $color1, $color2) {
    background: -webkit-linear-gradient($direction, $color1, $color2); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($direction, $color1, $color2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($direction, $color1, $color2); /* For Firefox 3.6 to 15 */
    background: linear-gradient($direction, $color1, $color2);
}

$bubble-colapse: 982px;
$min-bubble: 305px;
$infocol-color: #F2F2F2;


.post-header-bar {
    z-index: 5;
    position: relative;
    margin-top: -25px;
    //background-image: url('../img/footer_lodyas.png');
    //background-repeat: repeat;
    background-color: #3B3B3B;
    height: 100px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2.4em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    
    @media screen and (max-width:416px) {
        height: 140px;
    }
    
    h1 {
        color: white;
    }
    
    P {
        margin-top: 45px;
        margin-bottom: 15px;
        font-size: 0.8em;
        color: black;
    }
    
    .qhr {
        width: 130px;
        border-color: #DC3E32;
    }
}

.post-bubble-bar {
    z-index: 1;
    position: relative;
    height: 400px;
    width: 100%;
    margin-bottom: -1px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2.4em;
    //text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    background-image: url('../img/blueFocus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // button color #DC3E32;
    
    .pbb-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(41, 41, 41, 0.68);
        margin-top: -10px;
        
        h1 {
            position: relative;
            top: 25px;
            left: 20%;
            font-weight: 300;
            font-size: 1.6em;
            color: #F2F2F2;
        }
        
        hr {
            width: 50%;
            margin-top: 35px;
            border: solid 1px #7e7e7e;
        }
        
        .pbb-text {
            width: 70%;
            margin-top: 60px;
            text-align: justify;
            padding: 15px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            
            h3 {
                font-size: 1.0em;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
            }
        }
        
    }
    
    
    
    @media screen and (max-width:552px) {
        height: 140px;
    }
}

.bub-info-area {
    width: 100%;
    height: 550px;
    position: relative;
    background-color: $infocol-color;
    
    .bub-title-box {
        display: inline-block;
        background-color: white;
        width: auto;
        height: auto;
        margin-top: 75px;
        margin-left: 10%;
        padding: 10px;
        border: solid 2px rgba(0, 0, 0, 0.56);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.56);
    
        h2 {
            font-family: 'Lato', sans-serif;
            font-size: 2.8em;
            font-weight: 700;
        }
        
        @media screen and (max-width:$bubble-colapse) {
            margin-top: 100px;
        }
    }
    
    .bub-text-area {
        display: block;
        position: absolute;
        top: 180px;
        margin-left: 35%;
        width: 500px;
        height: auto;
        overflow: auto;
        
        p {
            font-family: 'Lato', sans-serif;
            font-size: 2.0em;
            font-weight: 300;
            color: #7b7b7b;
        }
        
        @media screen and (max-width:$bubble-colapse) {
            margin-left: 15%;
            top: 220px;
        }
        
        @media screen and (max-width:365px) {
            width: 260px;
            
            p {
                font-size: 1.8em;
            }
        }
    }
    
    .bub-toggle {
        position: absolute;
        bottom: 20px;
        width: 200px;
        height: 40px;
        margin-left: 25%;
        
        &:hover {
            cursor: pointer;
        }
        
        .tog-row {
            display: inline-block;
            position: relative;
            float: left;
            bottom: 0px;
            width: 25px;
            height: 25px;
            margin-left: 5px;
            padding: 0px;
            
            .arrow {
                width: 100%;
                height: 100%;
                color: #d9d9d9;
                i {
                    font-size: 1.6em;
                }
                
                .active {
                    color: #3B3B3B;
                }
            }
            
            .circle {
                background-color: transparent;
                border: solid 2px #ff8242;
                margin-top: 5px;
                width: 50%;
                height: 50%;
                @include round(100%);
            }
            
            .circle.active {
                background-color: #ff8242;
            }       
        }
    }
}
