@mixin round($value) {
    -moz-border-radius: $value;
	-webkit-border-radius: $value;
	border-radius: $value;
}

@mixin bubble-color($t) {
    
    -webkit-transition: color $t;
    transition: color $t;
        
    
}

$bubble-colapse: 982px;
$min-bubble: 305px;
$infocol-color: #ffffff;


.post-header-bar {
    position: relative;
    margin-top: -25px;
    background-image: url('../img/binding_dark.png');
    background-repeat: repeat;
    height: 100px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2.4em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    
    @media screen and (max-width:416px) {
        height: 140px;
    }
    
    h1 {
        color: #F7992E;
       
    }
    
    P {
        margin-top: 45px;
        margin-bottom: 15px;
        font-size: 0.8em;
        color: black;
    }
    
    .qhr {
        width: 130px;
        border-color: #DC3E32;
    }
}

.post-bubble-bar {
    position: relative;
    height: 100px;
    margin-bottom: -1px;
    font-family: 'Lato', sans-serif;
    color: #F7992E;
    font-weight: 300;
    font-size: 2.4em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    background-image: url('../img/footer_lodyas.png');
    background-repeat: repeat;
    // button color #DC3E32;
    
    @media screen and (max-width:552px) {
        height: 140px;
    }
}
.bubble-box {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    height: 600px;
    background-color: $infocol-color;
    
    @media screen and (max-width:$bubble-colapse) {
        height: 1600px;
    }
    
    .bubble-area {
        background-color: transparent;
        height: 600px;
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
        letter-spacing: 20px;
        position: relative;

        @media screen and (max-width:$bubble-colapse) {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 80px;
            height: 1500px;
        }
        
        
    
        .post-head-col {
            display: inline-block;
            height: 600px;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            max-width: 30%;
            min-width: $min-bubble;
           
            
            
            @media screen and (max-width:$bubble-colapse){
                max-width: 100%;
                min-width: 100%;
                height: 500px;
                
            }
        
    
            .bubble {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 100px;
                width: 200px;
                height: 200px;
                //background-color: rgba(144, 207, 138, 0.77);
                border: solid 4px rgb(247, 153, 46);
                box-shadow: 0px 0px 5px rgba(247, 153, 46, 0.53);
                text-align: center;
                @include round(100%);
                
                @media screen and (max-width:$bubble-colapse){
                    margin-top: 20px;
                }
            
                span {
                    font-size: 100px;
                    margin-top: 50px;
                    @include bubble-color(1s);
                }
                
                &:hover {
                    cursor: pointer;
                    span {
                        color: #DC3E32;
                    }
                }
            }
          
            .bub-txt-box {
                margin-top: 15px;
                padding: 3px;
                padding-top: 1px;
                border: solid 1px grey;
                height: 40%;
                width: 100%;
                display: inline-block;
                @include round(5px);
                box-shadow: 0px 0px 5px rgb(0, 0, 0);
                text-align: justify;
                
                @media screen and (max-width: 400px){
                    height: 45%;
                }
                
                @media screen and (min-width: 641px){
                    height: 35%;
                }
                
                @media screen and (min-width:$bubble-colapse){
                    position: relative;
                    bottom: 0px;
                    height: 41%;
                }
                
            }
            
            h2 {
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
                letter-spacing: 0px;
            }
            
            .bubble-text {
                font-family: 'Lato', sans-serif;
                position: absolute;
                font-weight: 300;
                font-size: 20px;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                margin-bottom: 0px;
                letter-spacing: 0px;
               
                @media screen and (max-width:$bubble-colapse){
                    margin-right: 20px;
                }
            }
            
        }
        
        .post-head-col:last-child .bubble span {
                margin-left: 15px;
            }
    }
}
