@mixin round($value) {
    -moz-border-radius: $value;
	-webkit-border-radius: $value;
	border-radius: $value;
}

@mixin bubble-color($t) {
    -webkit-transition: color $t;
    transition: color $t;  
}

@mixin arrow-back($time) {
    -webkit-transition: background-color $time;
    transition: background-color $time;  
}

$bubble-colapse: 982px;
$min-bubble: 305px;
$infocol-color: #ffffff;


.post-header-bar {
    position: relative;
    margin-top: -25px;
    background-image: url('../img/footer_lodyas.png');
    background-repeat: repeat;
    height: 100px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2.4em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    
    @media screen and (max-width:416px) {
        height: 140px;
    }
    
    h1 {
        color: white;
    }
    
    P {
        margin-top: 45px;
        margin-bottom: 15px;
        font-size: 0.8em;
        color: black;
    }
    
    .qhr {
        width: 130px;
        border-color: #DC3E32;
    }
}

.post-bubble-bar {
    position: relative;
    height: 100px;
    margin-bottom: -1px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 2.4em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 3px;
    background-image: url('../img/footer_lodyas.png');
    background-repeat: repeat;
    // button color #DC3E32;
    
    @media screen and (max-width:552px) {
        height: 140px;
    }
}

.bub-info-area {
    width: 100%;
    height: 600px;
    position: relative;
    
    .bub-title-box {
        display: inline-block;
        width: auto;
        height: auto;
        margin-top: 75px;
        margin-left: 5%;
        padding: 10px;
        border: solid 2px black;
        box-shadow: 2px 2px 5px black;
    
        h2 {
            font-family: 'Lato', sans-serif;
            font-size: 2.8em;
            font-weight: 700;
        }
        
        @media screen and (max-width:$bubble-colapse) {
            margin-top: 100px;
        }
    }
    
    .bub-text-area {
        display: block;
        position: absolute;
        top: 180px;
        margin-left: 30%;
        width: 300px;
        height: auto;
        overflow: auto;
        
        p {
            font-family: 'Lato', sans-serif;
            font-size: 2.0em;
            font-weight: 300;
        }
        
        @media screen and (max-width:$bubble-colapse) {
            margin-left: 15%;
            top: 220px;
        }
        
        @media screen and (max-width:365px) {
            width: 260px;
            
            p {
                font-size: 1.8em;
            }
        }
        
    }
    
    .bub {
        display: block;
        width: 300px;
        height: 300px;
        position: absolute;
        margin-left: 70%;
        top: 100px;
        text-align: center;
        @include round(30%);
        background-image: url("../img/noisy.png");
        background-repeat: repeat;
        box-shadow: 1px 1px 5px rgba(111, 111, 111, 0.74);
        
        .bub-overlay {
            width: 100%;
            height: 100%;
            @include round(30%);
            background-color: rgba(255, 255, 255, 0.8);
        }
        
        span {
            font-size: 150px;
            margin-top: 75px;
            @include bubble-color(1s);
        }
        &:hover {
            cursor: pointer;
            span {
                color: #DC3E32;
            }
        }
        
        @media screen and (max-width:$bubble-colapse) {
            display: none;
        }
    }
    
    .bub-toggle {
        position: absolute;
        bottom: 40px;
        font-size: 1.6em;
        text-align: center;
        margin-left: 25%;
        
        &:hover {
            cursor: pointer;
        }
        
        .tog-row {
            display: inline-block;
            text-align: center;
            margin: 10px;
            
            .arrow {
                position: relative;
                bottom: 7px;
                @include round(5px);
                color: #d9d9d9;
            }
            
            .active {
                color: #333333;
                background-color: white;
            }
        }
        
        .circle {
            @include round(100%);
            border: solid 2px rgb(247, 153, 46);
            width: 15px;
            height: 15px;
        }
        
        .active {
            background-color: rgb(247, 153, 46);
        }
    }
}
