@mixin round($value) {
    -moz-border-radius: $value;
	-webkit-border-radius: $value;
	border-radius: $value;
}

@mixin button-inflate($t1, $t2, $t3) {    
    -webkit-transition: transform $t1, background-color $t2, border-radius $t3;
    transition: transform $t1, background-color $t2, border-radius $t3;
        
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

@mixin scale-x($value) {
    -ms-transform: scale($value); /* IE 9 */
    -webkit-transform: scale($value); /* Safari */
    transform: scale($value); /* Standard syntax */
}


.navbar-default {
    background-color: transparent;
    border: none;
    position: absolute;
    position: absolute;
    top: 10px;
    
    @media screen and (max-width:767px) {
        right: 10px;
        top: 45px;
        
        .navbar-toggle:focus, .navbar-toggle:hover {
            background-color: transparent;
        }
    }
    
    @media screen and (max-width:360px) {
        right: 2px;
        top: 50px;
    }
}

.navbar-default .navbar-nav {
    margin-top: 20px;
    
    @media screen and (max-width: 767px) {
        margin-top: 10px;
    }
}

@media screen and (max-width:360px) {
    
    
    .navbar-toggle {
        padding: 5px;
        
        .icon-bar {
            width: 18px;
            font-size: 20px;
        }
    }
    

}

.navbar-default .navbar-nav > div {
    border: solid 1px white;
    display: inline-block;
    padding: 7px;
    margin-right: 10px;
    color: white;
    @include round(10px);
    margin-top: 0px;
    position: relative;
    overflow: hidden;
    
    a:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 38%;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border-radius: 100%;
        width: 0px;
        height: 100%;
        overflow: hidden;
        @include button-inflate(0.7s, 0.7s, 2s);
    }
    
    a {
        color: white;
        background: transparent;
        @include round(10px);
        padding: 7px;
        display: inline-block;
        
        &:hover {
            color: white;
            text-decoration: none;
            
            &:before {
                background-color: #03726F;
                width: 20px;
                border-radius: 10px;
                @include scale-x(5);
            }      
        }
    }
    
    @media screen and (max-width: 767px) {
        margin-top: 5px;
        margin-left: 15px;
        margin-right: 5px;
        background-color: #03726F;
    }
}

.front-brand-bar {
    position: relative;
    width: 100%;
    height: 100px;
    background: url('../img/geoban.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    h1 {
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    color: white;
    font-size: 48px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }   
    
    .credit {
        display: none;
    }    
}   

.over-bar {
    width: 100%;
    height: 90%;
    position: relative;
    top: 10%;
    background-color: #3b3b3b;
}

.header-image-area {
    display: inline-block;
    position: relative;
    width: 100%;
    background: url('../img/homeoffice.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    z-index: -5;
    
    .head-over {
        width: 100%;
        height: 100%;
        background-color: rgba(78, 78, 78, 0.33);
         h1 {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: white;
            padding-left: 20%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            top: 20%;
            font-size: 50px;
        
             &:first-child {
                 padding-left: 15%;
                 margin-top: 0px;
             }
        }     
    }
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

