@mixin skew-x($skewVal) {
    -ms-transform: skewX($skewVal);
    -webkit-transform: skewX($skewVal);
    transform: skewX($skewVal);
}

@mixin skew-y($skewVal) {
    -ms-transform: skewY($skewVal);
    -webkit-transform: skewY($skewVal);
    transform: skewY($skewVal);
}

@mixin scaling($width, $height) {
    -ms-transform: scale($width, $height);
    -webkit-transform: scale($width, $height);
    transform: scale($width, $height);
}

@mixin transition-back($time) {
    -webkit-transition: background-color $time linear;
    -moz-transition: background-color $time linear;
    -o-transition: background-color $time linear;
    -ms-transition: background-color $time linear;
    transition: background-color $time linear;
}

@mixin round($value) {
    -moz-border-radius: $value;
	-webkit-border-radius: $value;
	border-radius: $value;
}


.navbar-default {
    background-color: transparent;
    border: none;
    position: absolute;
    position: absolute;
    top: 10px;
    
    @media screen and (max-width:767px) {
        right: 10px;
        top: 25px;
    }
}

.navbar-default .navbar-nav > li {
    border: solid 1px white;
    margin-right: 10px;
    color: white;
    @include round(10px);
    margin-top: 15px;
    
    a {
        color: white;
        
        &:hover {
            color: white;
        }
    }
}


.front-brand-bar {
    position: relative;
    width: 100%;
    height: 100px;
    background: url('../img/geoban.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    h1 {
    position: absolute;
    margin-left: 10px;
    margin-top: 12px;
    color: white;
    font-size: 48px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }   
    
    .credit {
        display: none;
    }
      
}   

.over-bar {
    width: 100%;
    height: 90%;
    position: relative;
    
    top: 10%;
    
    
    background-color: #3b3b3b;
}

.nav-area{
    
    width: 50%;
    margin-top: -35px;
    margin-left: 15px;
    z-index: 10;
    
    @media screen and (max-width: 715px){
                width: 90%;
            }
    
    .nava-area-1{
        
        border: 0px solid black;
        width: 99%;
        height: 35px;
        background-color: black;
        @include skew-x(-20deg);
        margin-left: 5px;
        
        
        .collapsed-bar {
            display: block;
            position: relative;
            
            
            button {
                display: none;
                margin-left: auto;
                margin-right: auto;
                color: white;
                width: 100%;
                background-color: transparent;
                border: none;
                margin-top: none;
                margin-bottom: none;
                height: 100%;
                padding-top: 5px;
                font-size: 16px;
                
                @media screen and (max-width: 715px){
                    display: block;
                }
            }
        }
        
        
        
        ul {
            list-style-type: none;
            position: relative;
            @media screen and (max-width: 715px){
                display: none;
                position: absolute;
                list-style-type: none;
                @include skew-x(20deg);
                width: 100%;
                background-color: black;
                margin-left: 20px;
                padding: 0;
                
                .drop-area {
                    display: block;
                    width: 100%;
                    background-color: black;
                    
                    
                    li {
                    display: block;
                    text-align: center;
                    width: 100%;
                    border-left: none;
                    border-right: none;
                    background-color: transparent;
                    border-bottom: 1px solid black;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    
                        a {
                            background-color: tansparent;
                            border: none;
                        }
                    }
                    
                }
                
                
                
            }
            
            li {
                
                
                .dropdown-content {
                    display: none;
                    position: absolute;
                    list-style-type: none;
                    width: 200px;
                    background-color: white;
                    border: 1px solid black;
                   @include skew-x(20deg);
                    margin-top: 4px;
                    margin-left: -4px;
                    padding: 0;
                    li {
                        display: block;
                        text-align: center;
                        width: 100%;
                        border-bottom: 1px solid black;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        background-color: #f49057;
                        
                        a {
                            display: inline-block;
                            text-decoration: none;
                            
                            color: white;
                            font-size: 16px;
                            width: 100%;
                        }
                        
                        &:hover {
                            background-color: #f17128;
                            @include transition-back(200ms);
                        }
                        
                    }
                    
                }
                
                span {
                    @media screen and (max-width:715px){
                        color: white;
                    }
                    
                }
            }
            

            
            
            @media screen and (min-width:716px) {
                .drop-item:hover span {
                    color: black;
                }  
            }
            
            
   
        }
       

        .nav-item {
            
            float: left;
            overflow: visible ;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            height: 35px;
            padding: 10px;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 7px;
            background-color: black;
            @include skew-x(-15deg);
            
            a {
                display: inline-block;
                width: 100%;
            }
            
            @media screen and (max-width:715px){
                @include skew-x(0deg);
                border-left: none;
                border-right: none;
                width: 100%;
                position: relative;
                height: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                border-top: 1px solid grey;
                border-bottom: 1px solid grey;
                
                .dropdown-content {
                    @include skew-x(0deg);
                    width: 100%;
                    position: relative;
                    height: 100%;
                   
                        
                }
                
            }
            
            .nav-fix {
                @include skew-x(20deg);
                display:block;
                
                @media screen and (max-width:715px){
                    @include skew-x(0deg);    
                }
                
                
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                }
            }
            
            @media screen and (min-width:716px) {
                &:hover {
                background-color: #F27B37;
                @include transition-back(500ms);
                @include scaling(1.1, 1.1);
                } 
            }
            
            
            span {
                font-size: 14px;
            }
            
        }
        
    }
}



.header-image-area {
    display: inline-block;
    position: relative;
    width: 100%;
    background: url('../img/homeoffice.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    margin-top: -20px;
    z-index: -5;
    
    h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: white;
        padding-left: 20%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 25%;
        font-size: 50px;
        
    }
    
    h1:first-child {
        padding-left: 15%;
    }
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

